venv/
venv/*

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/
staticfiles/


# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.history
*0001_initial.py
*/migrations

migrations/*
migrations/
