
{% extends 'app_base.html' %}

{% load static %}


{% block content %}
      <div class="content-page">
        <div class="container-fluid container">
         <div class="row">
            <div class="col-lg-12">
               <div class="card">
                  <div class="card-body p-0">
                     <div class="iq-edit-list usr-edit">
                        <ul class="iq-edit-profile d-flex nav nav-pills">
                           <li class="col-md-3 p-0">
                              <a class="nav-link active" data-toggle="pill" href="#personal-information">
                              Personal Information
                              </a>
                           </li>
                           <li class="col-md-3 p-0">
                              <a class="nav-link" data-toggle="pill" href="#emailandsms">
                                 Professional Information
                              </a>
                           </li>
                           <li class="col-md-3 p-0">
                              <a class="nav-link" data-toggle="pill" href="#manage-contact">
                                 Socials
                              </a>
                           </li>
                           <li class="col-md-3 p-0">
                              <a class="nav-link" data-toggle="pill" href="#chang-pwd">
                              Change Password
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-12">
      {% include '../partials/messages.html' %}

               <div class="iq-edit-list-data">
                  <div class="tab-content">
                     <div class="tab-pane fade active show" id="personal-information" role="tabpanel">
                        <div class="card">
                           <div class="card-header d-flex justify-content-between">
                              <div class="iq-header-title">
                                 <h4 class="card-title">Personal Information</h4>
                              </div>
                           </div>
                           <div class="card-body">
                            <form class="forms-sample" method="POST" id="personal-information"  name="personal-information">
                            {% csrf_token %}
                                 <div class="form-group row align-items-center">
                                    <div class="col-md-12">
                                       <div class="profile-img-edit">
                                          <div class="crm-profile-img-edit">
                                            {% if current_profile.profile_pic.url %} 
                                                <img class="crm-profile-pic rounded-circle avatar-100" src="{{profile_pic.url}}" alt="profile-pic">
                                            
                                            {% else %}
                                            
                                            <div style="display: inline-block;vertical-align: middle;position: relative;background-color: rgba(0, 0, 0, 0.3);color: #fff;border-radius: 50%;height: 48px;width: 48px;" class="avatar">
                                                <div style="left: 50%;position: absolute;top: 50%;transform: translate(-50%, -50%);">
                                                   {{ current_user.first_name|slice:":1" }}{{ current_user.last_name|slice:":1" }}
                                                </div>
                                            </div>
                                            
                                            {% endif %}


                                             <!-- <div class="crm-p-image bg-primary">
                                                <i class="las la-pen upload-button"></i> upload
                                                <input class="file-upload" type="file" accept="image/*">
                                             </div> -->
                                          </div>                                          
                                       </div>
                                    </div>
                                 </div>
                                 <div class=" row align-items-center">
                                    <div class="form-group col-sm-6">
                                       <label for="first_name">First Name:</label>
                                       <input type="text" class="form-control" id="first_name" name="first_name" last_name value={{current_user.first_name}}>
                                    </div>
                                    <div class="form-group col-sm-6">
                                       <label for="last_name">Last Name:</label>
                                       <input type="text" class="form-control" id="last_name" name="last_name" value="{{current_user.last_name}}">
                                    </div>
                                    <div class="form-group col-sm-6">
                                       <label for="username">User Name:</label>
                                       <input type="text" class="form-control" id="username" name="username" value="{{current_user.username}}" readonly>
                                    </div>
                                    <div class="form-group col-sm-6">
                                       <label for="phone">phone number:</label>
                                       <input type="number" class="form-control" id="phone" name="phone" value="{{current_profile.phone}}">
                                    </div>
    
                                    <!-- <div class="form-group col-sm-6">
                                       <label class="d-block">Gender:</label>
                                       <div class="custom-control custom-radio custom-control-inline">
                                          <input type="radio" id="customRadio6" value="male" name="customRadio1" class="custom-control-input" checked="">
                                          <label class="custom-control-label" for="customRadio6"> Male </label>
                                       </div>
                                       <div class="custom-control custom-radio custom-control-inline">
                                          <input type="radio" id="customRadio7" value="female" name="customRadio1" class="custom-control-input">
                                          <label class="custom-control-label" for="customRadio7"> Female </label>
                                       </div>

                                       
                                    </div> -->

                                    <!-- <div class="form-group col-sm-6">
                                       <label for="dob">Date Of Birth:</label>
                                       <input  class="form-control" id="dob" value="1984-01-24">
                                    </div> -->
                                    
                                    
                                    <div class="form-group col-sm-12">
                                       <label>Bio:</label>
                                       <textarea class="form-control" name="bio" rows="3" style="line-height: 22px; padding: 0;">
                                       {{current_profile.bio}}
                                       </textarea>
                                    </div>
                                 </div>
                                 <button type="submit" class="btn btn-primary mr-2" name="personal-information">Submit</button>
                                 <a type="reset" class="btn iq-bg-danger" href="{% url 'users:user-profile' request.user.username %}">Cancel</a>
                              </form>
                           </div>
                        </div>
                     </div>
                     <div class="tab-pane fade" id="chang-pwd" role="tabpanel">
                        <div class="card">
                           <div class="card-header d-flex justify-content-between">
                              <div class="iq-header-title">
                                 <h4 class="card-title">Change Password</h4>
                              </div>
                           </div>
                           <div class="card-body">
                              <form method="post" id="change-password" name="change-password">
                                 {% csrf_token %}
                                 <div class="form-group">
                                    <label for="cpass">Current Password:</label>
                                    <a href="javascripe:void();" class="float-right">Forgot Password</a>
                                    <input type="Password" class="form-control" name="cpass" name="cpass" value="">
                                 </div>
                                 <div class="form-group">
                                    <label for="npass">New Password:</label>
                                    <input type="Password" class="form-control" id="npass" name="npass" value="">
                                 </div>
                                 <div class="form-group">
                                    <label for="vpass">Verify Password:</label>
                                    <input type="Password" class="form-control" id="vpass" name="vpass" value="">
                                 </div>
                                 <button type="submit" class="btn btn-primary mr-2" name="change-password">Submit</button>
                                 <a type="reset" class="btn iq-bg-danger" href="{% url 'users:user-profile' request.user.username %}">Cancel</a>
                              </form>
                           </div>
                        </div>
                     </div>
                     <div class="tab-pane fade" id="emailandsms" role="tabpanel">
                        <div class="card">
                           <div class="card-header d-flex justify-content-between">
                              <div class="iq-header-title">
                                 <h4 class="card-title">Professional information</h4>
                              </div>
                           </div>
                           <div class="card-body">
                              <form method="post" id="professional-info" name="professional-info">
                                 {% csrf_token %}
                                 <div class=" row align-items-center">
                                 <div class="form-group col-sm-6">
                                    <label for="current_company">Current Company:</label>
                                    <input type="text" class="form-control" id="current_company" name="current_company" last_name value={{current_profile.current_company}}>
                                 </div>
                                 <div class="form-group col-sm-6">
                                    <label for="current_job_role">Current Job Role:</label>
                                    <input type="text" class="form-control" id="current_job_role" name="current_job_role" last_name value={{current_profile.current_job_role}}>
                                 </div>
                                 <div class="form-group col-sm-6">
                                    <label for="years_of_experience">Years of experience:</label>
                                    <input type="text" class="form-control" id="years_of_experience" name="years_of_experience" last_name value={{current_profile.years_of_experience}}>
                                 </div>
                                  
                              </div>

                             
                        





                                 <div id="faqAccordion">
                                    <div class="row">
                                       <div class="col-lg-12">
                                          <div class="iq-accordion career-style faq-style">                                            
                                             <div class="card iq-accordion-block ">
                                                <div class="active-faq clearfix" id="headingThree">
                                                   <div class="container-fluid">
                                                      <div class="row">
                                                         <div class="col-sm-12"><a role="contentinfo" class="accordion-title collapsed" data-toggle="collapse"  data-target="#industry-accordion" aria-expanded="false" aria-controls="collapseThree"><span>
                                                            <h3>Industry</h3>
                                                         </span> </a></div>
                                                      </div>
                                                   </div>
                                                </div>
                                                <div class="accordion-details collapse" id="industry-accordion" aria-labelledby="headingThree" data-parent="#faqAccordion">
                                                  

                                                  
                                                   <div class="row text-center">                                                  

                                                         
                                                      {% if industries %}
                                                         {% for industry in industries %}
                                                         <div class="form-check form-group custom-control custom-checkbox col-md-3 mb-3">
                                                            <input class="custom-control-input form-check-input"
                                                               type="checkbox"
                                                               value="{{industry.id}}"
                                                               id="{{industry.id}}"
                                                               name="industries"

                                                               {% if industry in industries %}
                                                               checked
                                                               {% endif %}
                                                               >
                                                            <label class="custom-control-label form-check-label" for="{{industry.id}}">{{industry.name}}</label>
                                                          </div>  
                                                         {% endfor %}
                                                         
                                                         {% else %}
                                                      {% endif %}

                                                   </div>

                                                </div>
                                             </div>  
                                          </div>
                                       </div>
                                       </div>
                                    </div>


                                    <div id="faqAccordion">
                                       <div class="row">
                                          <div class="col-lg-12">
                                             <div class="iq-accordion career-style faq-style">                                            
                                                <div class="card iq-accordion-block ">
                                                   <div class="active-faq clearfix" id="headingThree">
                                                      <div class="container-fluid">
                                                         <div class="row">
                                                            <div class="col-sm-12"><a role="contentinfo" class="accordion-title collapsed" data-toggle="collapse"  data-target="#interest-accordion" aria-expanded="false" aria-controls="collapseThree"><span>
                                                               <h3>Interests</h3>
                                                            </span> </a></div>
                                                         </div>
                                                      </div>
                                                   </div>
                                                   <div class="accordion-details collapse" id="interest-accordion" aria-labelledby="headingThree" data-parent="#faqAccordion">
                                                      <div class="row text-center">                                                         
                                                         {% if interests %}
                                                         {% for interest in interests %}
                                                         
                                                         <div class="form-check form-group custom-control custom-checkbox col-md-3 mb-3">
                                                            <input class="custom-control-input form-check-input" 
                                                            type="checkbox" 
                                                            value="{{interest.id}}" 
                                                            id="{{interest.id}}"
                                                            name="interests"
                                                            {% if interest in interests %}
                                                               checked
                                                            {% endif %}
                                                            >
                                                            <label class="custom-control-label form-check-label" for="{{interest.id}}">{{interest.name}}</label>
                                                          </div>  
                                                         
                                                         
                                                         {% endfor %}

                                                         {% else %}
                                                         
                                                         {% endif %}

                                                      </div>
   
                                                   </div>
                                                </div>  
                                             </div>
                                          </div>
                                          </div>
                                       </div>
                                 




















                                 
                              




                                 <button type="submit" class="btn btn-primary mr-2" name="professional-info">Submit</button>
                                 <a type="reset" class="btn iq-bg-danger" href="{% url 'users:user-profile' request.user.username %}">Cancel</a>
                              </form>
                           </div>
                        </div>
                     </div>
                     <div class="tab-pane fade" id="manage-contact" role="tabpanel">
                        <div class="card">
                           <div class="card-header d-flex justify-content-between">
                              <div class="iq-header-title">
                                 <h4 class="card-title">Socials</h4>
                              </div>
                           </div>
                           <div class="card-body">
                              <form method="post" id="socials" name="socials">
                                 {% csrf_token %}
                                 <div class="form-group">
                                    <label for="twitter">Twitter:</label>
                                    <input type="text" class="form-control" id="twitter" name="twitter" last_name value={{current_profile.twitter}}>

                                 </div>
                                 <div class="form-group">
                                    <label for="github">Github:</label>
                                    <input type="text" class="form-control" id="github" name="github" last_name value={{current_profile.github}}>

                                 </div>
                                 <div class="form-group">
                                    <label for="linkedin">Linkedin:</label>
                                    <input type="text" class="form-control" id="linkedin" name="linkedin" last_name value={{current_profile.linkedin}}>

                                 </div>
                                 <div class="form-group">
                                    <label for="personal">Personal:</label>
                                    <input type="text" class="form-control" id="personal" name="personal" last_name value={{current_profile.personal_blog}}>

                                 </div>
                                 <button type="submit" class="btn btn-primary mr-2" name="socials">Submit</button>
                                 <a type="reset" class="btn iq-bg-danger" href="{% url 'users:user-profile' request.user.username %}">Cancel</a>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
        </div>
      </div>
{% endblock content %}