{% extends 'no_auth_base.html' %}
{% load static %}

{% block content %} <div class="content-top" id="personal-information" role="tabpanel">
    <div class="container"> 
      {% include 'partials/messages.html' %}
        <div class="row">
            <div class="col-lg-4">
               <div class="card card-block p-card">
                  <div class="profile-box">
                     <div class="profile-card rounded">
                        <img src="{{user.user_profile.profile_pic}}" alt="profile-bg" class="avatar-100 rounded d-block mx-auto img-fluid mb-3">
                        <h3 class="font-600 text-white text-center mb-0">{{user.last_name}} {{user.first_name}}</h3>
                        <p class="text-white text-center mb-5">{{user.user_profile.current_job_role}}</p>
                     </div>
                     <div class="pro-content rounded">
                        <div class="d-flex align-items-center mb-3">
                           <div class="p-icon mr-3">
                              <i class="las la-envelope-open-text"></i>
                           </div>
                           <p class="mb-0 eml">{{user.email}}</p>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                           <div class="p-icon mr-3">
                              <i class="las la-map-marked"></i>
                           </div>
                           <p class="mb-0">{{user.user_profile.country}}</p>
                        </div>
                        <div class="d-flex justify-content-center">
                           <div class="social-ic d-inline-flex rounded">
                              <a target="_blank" rel="noopener noreferrer" href="{{user.user_profile.personal_blog}}"><i class="fas fa-blog"></i></a>
                              <a target="_blank" rel="noopener noreferrer" href="{{user.user_profile.twitter}}"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" rel="noopener noreferrer" href="{{user.user_profile.github}}"><i class="fab fa-github"></i></a>
                              <a target="_blank" rel="noopener noreferrer" href="{{user.user_profile.linkedin}}"><i class="fab fa-linkedin"></i></a>
                           </div>
                        </div>
                        <br/>
                        <div class="d-flex justify-content-center">
                            <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-outline-primary btn-block">Schedule a session</button>
                         </div>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                               <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                     <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">Schedule A session</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                     </div>
                                     <div class="modal-body">
                                        <form method="post">
                                          {% csrf_token %}
                                            <div class=" row align-items-center">
                                                <div class="form-group col-12">
                                                    <label for="fname">Session Title:</label>
                                                    <input type="text" class="form-control" id="title" value="Session title">
                                                 </div>
                                               
                                               <div class="form-group col-12">
                                                   <label for="cname">Event Date:</label>
                                                   <input type="date" class="form-control" id="date" value="Atlanta">
                                                </div>
                                               
                                               <div class="form-group col-12">
                                                  <label for="lname">Start Time</label>
                                                  <input type="time" class="form-control" id="start_time" min="09:00" max="18:00">
                                               </div>
                               
                                               <div class="form-group col-12">
                                                  <label>Add a short note:</label>
                                                  <div contenteditable="true" class="textarea-tweak">
                                                   <textarea class="form-control" name="details" >
                                                   </textarea>
                                                   </div>
                                               </div>
                               
                                            </div>
                                            <br/>
                                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                            <button type="reset" class="btn iq-bg-danger">Cancel</button>
                                         </form>
                                     </div>
                                  </div>
                               </div>
                            </div>



                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-8">
               <div class="card card-block mb-3">
                  <div class="card-header d-flex justify-content-between">
                     <div class="iq-header-title">
                        <h4 class="card-title mb-0">About {{user.last_name}} {{user.first_name}}</h4>
                     </div>
                  </div>
                  <div class="card-body">
                     <p>{{user.user_profile.bio}}
                     </p>
                     <h5 class="mb-2 mt-4">Professional Skills</h5>
                     <div class="iq-progress-bar-linear d-inline-block w-100 mb-3">
                        <span class="mt-2 badge border border-primary text-primary mt-2">Primary</span>
                        <span class="mt-2 badge border border-secondary text-secondary mt-2">Secondary</span>
                        <span class="mt-2 badge border border-success text-success mt-2">Success</span>
                        <span class="mt-2 badge border border-danger text-danger mt-2">Danger</span>
                        <span class="mt-2 badge border border-warning text-warning mt-2">Warning</span>
                        <span class="mt-2 badge border border-info text-info mt-2">Info</span>
                     </div>
                     <h5 class="mb-2 mt-4">Work Experience</h5>
                     <ul class="list-inline mb-0 p-0">
                        <li class="d-flex align-items-center mb-3">
                           <span class="bg-info-light rounded-small iq-card-icon-small mr-3">1</span>
                           <p class="mb-0 font-size-16">Software Engineer at Mathica Labs | 2018 - present</p>
                        </li>
                        <li class="d-flex align-items-center">
                           <span class="bg-warning-light rounded-small iq-card-icon-small mr-3">2</span>
                           <p class="mb-0 font-size-16">Junior Software Engineer at Zimcore Solutions | 2015 - 2018</p>
                        </li>
                     </ul>
                     <h5 class="mb-2 mt-4">Personal Skills</h5>
                     <ul class="list-unstyled mb-0">
                        <li class="mb-3"><i class="fa fa-check-circle text-primary fa-lg mr-2"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li class="mb-3"><i class="fa fa-check-circle text-primary fa-lg mr-2"></i>Aliquam ultrices tellus in auctor blandit.</li>
                        <li class="mb-3"><i class="fa fa-check-circle text-primary fa-lg mr-2"></i>Etiam tincidunt erat non ante sagittis bibendum.</li>
                        <li class="mb-3"><i class="fa fa-check-circle text-primary fa-lg mr-2"></i>Nunc malesuada massa ut nisl sollicitudin semper.</li>
                        <li><i class="fa fa-check-circle text-primary fa-lg mr-2"></i>Fusce et arcu in dui feugiat finibus.</li>
                     </ul>
                     

                     
                     


                  </div>
               </div>
            </div>
         </div>
    </div>

    </div>
 </div>
{% endblock content %}