{% extends 'app_base.html' %}
{% load static %}

{% block content %}
<div class="content-page">
    <div class="container-fluid container">

        <div class="tab-extra active mb-4" id="search-with-button">
            <div class="iq-search-bar d-flex flex-wrap align-items-center search-device mb-2 pr-3">
                <input class="form-control pt-3  pb-3 bg-white border border-dark text search-input" type="text" placeholder="Find a mentor">
            </div>
            <div class="d-flex flex-wrap align-items-center justify-content-between mb-2">
                <div>                                
                </div>
                <div class="create-workform">
                    <a href="#create-event" data-toggle="modal" data-target="#create-event" class="btn btn-primary pr-5 pl-5 position-relative mr-2">Search</a>
                </div>                            
            </div>
        </div>  
  
        <div class="row">
            
            <div class="col-sm-6 col-md-6 col-lg-3">
               <div class="card card-block card-stretch card-height">
                  <div class="card-body">
                     <div class="subscriber-detail text-center">
                        <div class="image mb-2 position-relative d-inline-block">
                           <img src="{% static 'assets/images/user/04.jpg' %}" alt="profile" class="img-fluid rounded-circle avatar-100 text-center">
                           <button type="button" class="btn btn-icon rounded-circle title-whatsapp iq-card-btn"> <i class="ri-whatsapp-line m-0"></i>
                           </button>
                        </div>
                        <h5>Ira Membrit</h5>
                        <p class="mb-2">Developer</p>
                        <div class="d-flex align-items-center justify-content-center">
                           <a href="mailto:adebisiayomide07@gmail.com" class="btn btn-info rounded-small"><i class="ri-mail-line m-0"></i>
                           </a>
                           <div class="title bg-success-light rounded rounded-small ml-1"><a href="/mentor/vector">View Profile</a></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
               <div class="card card-block card-stretch card-height">
                  <div class="card-body">
                     <div class="subscriber-detail text-center">
                        <div class="image mb-2 position-relative d-inline-block">
                           <img src="{% static 'assets/images/user/05.jpg' %}" alt="profile" class="img-fluid rounded-circle avatar-100 text-center">
                           <button type="button" class="btn btn-icon rounded-circle title-instagram iq-card-btn"> <i class="ri-instagram-line m-0"></i>
                           </button>
                        </div>
                        <h5>Cliff Hanger</h5>
                        <p class="mb-2">Designer</p>
                        <div class="d-flex align-items-center justify-content-center">
                           <a href="mailto:adebisiayomide07@gmail.com" class="btn btn-info rounded-small"><i class="ri-mail-line m-0"></i>
                           </a>
                           <div class="title bg-info-light rounded rounded-small ml-1"><a href="/mentor/vector">View Profile</a></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
               <div class="card card-block card-stretch card-height">
                  <div class="card-body">
                     <div class="subscriber-detail text-center">
                        <div class="image mb-2 position-relative d-inline-block">
                           <img src="{% static 'assets/images/user/06.jpg' %}" alt="profile" class="img-fluid rounded-circle avatar-100 text-center">
                           <button type="button" class="btn btn-icon rounded-circle title-twitter iq-card-btn"> <i class="ri-twitter-line m-0"></i>
                           </button>
                        </div>
                        <h5>Anna Mull</h5>
                        <p class="mb-2">Developer</p>
                        <div class="d-flex align-items-center justify-content-center">
                           <a href="mailto:adebisiayomide07@gmail.com" class="btn btn-info rounded-small"><i class="ri-mail-line m-0"></i>
                           </a>
                           <div class="title bg-warning-light rounded rounded-small ml-1"><a href="/mentor/vector">View Profile</a></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3">
               <div class="card card-block card-stretch card-height">
                  <div class="card-body">
                     <div class="subscriber-detail text-center">
                        <div class="image mb-2 position-relative d-inline-block">
                           <img src="{% static 'assets/images/user/07.jpg' %}" alt="profile" class="img-fluid rounded-circle avatar-100 text-center">
                           <button type="button" class="btn btn-icon rounded-circle title-facebook iq-card-btn"> <i class="ri-facebook-fill m-0"></i>
                           </button>
                        </div>
                        <h5>Rock lai</h5>
                        <p class="mb-2">Designer</p>
                        <div class="d-flex align-items-center justify-content-center">
                           <a href="mailto:adebisiayomide07@gmail.com" class="btn btn-info rounded-small"><i class="ri-mail-line m-0"></i>
                           </a>
                           <div class="title bg-primary-light rounded rounded-small ml-1"><a href="/mentor/vector">View Profile</a></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            
            
         </div>

    </div>
  </div>
{% endblock content %}