{% extends 'app_base.html' %}
{% load static %}

{% block content %}


<div class="content-top" id="personal-information" role="tabpanel">
    <div class="container">
       <div class="">
          <div class="">
             <h2 class="card-title">Create An Event</h2>
          </div>
       </div>

       <div class="border p-3 text-black">
          <form>
            
             <div class=" row align-items-center">

                <div class="form-group col-sm-6">
                   <label for="fname">Event Title:</label>
                   {{ form.title }}
                </div>
                <div class="form-group col-sm-6">
                    <label for="cname">Event Date:</label>
                    <input type="date" class="form-control" id="date" value="Atlanta">

                 </div>
                
                <div class="form-group col-sm-6">
                   <label for="lname">Start Time</label>
                   {{ form.start_time }}
                </div>
                <div class="form-group col-sm-6">
                   <label for="uname">End Time</label>
                   {{ form.end_time }}
                </div>
                <div class="form-group col-sm-6">
                    <label for="fname">Duration (in text):</label>
                    {{ form.duration }}
                 </div>
                <div class="form-group col-sm-6">
                    <label>Location:</label>
                    {{ form.location }}
                </div>

                <div class="form-group col-sm-6">
                    <label for="fname">Country:</label>
                    {{ form.country }}
                 </div>

                 <div class="form-group col-sm-6">
                    <label for="fname">State:</label>
                    {{ form.state }}
                 </div>
                 <style>
                    .textarea-tweak {
                        vertical-align:leftAlign;
                        text-align:left;
                    }
                 </style>
                <div class="form-group col-sm-12">
                   <label>Event Details:</label>
                  {{form.description}}cc
                </div>

             </div>
             <br/>
             <button type="submit" class="btn btn-primary mr-2">Submit</button>
             <button type="reset" class="btn iq-bg-danger">Cancel</button>
          </form>
       </div>
    </div>
 </div>
{% endblock content %}